.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #4caf50;
}

.modal-content p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #333;
}

.modal-close-btn {
    background: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.modal-close-btn:hover {
    background: #45a049;
}

.mt-children {
    margin-top: 20px;
}

.container_buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.cancel-content-button {
    cursor: pointer;
}