.container {
    width: 100%;
    min-width: 300px;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin-top: 100px !important;
    margin-bottom: 20px;
    margin: 0 auto;
    background: var(--background-color);
    border-radius: 8px;
}

.card {
    background-color: var(--background-color);
    border-radius: 8px;
    padding: 20px;
}

h2 {
    text-align: center;
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 25px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: var(--secondary-color);
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.button-form {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 35px;
}

.button-form:hover {
    background-color: var(--secondary-color);
}

.form-group span {
    color: red;
}

.container__forget {
    cursor: pointer;
    color: var(--secondary-color);
}