:root {
  --primary-color: #286b9e;
  --secondary-color: #173674;
  --background-color: #fdfdfc;
  --text-color: #173674;
  --azulclaro: #044c73;
  --azuloscuro: #04192a;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}